@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Regular.woff2") format("woff2"),
    url("fonts/OpenSans-Regular.woff") format("woff");
}
body {
  background: bisque;
  font-family: "Open Sans";
  font-size: 5em;
  text-align: center;
}
